/* General Page Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
}

.container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    border: 4px double #333;
    padding: 30px;
    margin: 20px auto;
    background: transparent; 
    border: 3px double rgba(255, 255, 255, .5);
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
}

h1 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 10px;
    font-size: 1.3em;
}

label {
    display: block;
    margin-bottom: 3px;
    font-weight: bold;
    color: #ffffff;
    font-size: 0.8em;
    margin-bottom: 5px;
}

input[type="text"], input[type="number"], input[type="url"], textarea, select {
    width: 100%;
    padding: 10px;
    border: 2px double #000000;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    height: 90px;
}

button[type="submit"] {
    width: 100%;
    height: 40px;
    background: #ffffff4b;
    border: 3px double rgba(255, 255, 255, .5);
    outline: none;
    cursor: pointer;
    font-size: 0.9em;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

button[type="submit"]:hover {
    background-color: #5c0707;
}

button[type="submit"]:focus {
    outline: none;
}

button[type="submit"]:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

/* Layout Styles */
.product-details-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.product-image img {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 8px;
}

.product-info {
    width: 60%;
}

.product-info h1 {
    font-size: 28px;
    color: #333;
}

.product-info .description {
    margin: 10px 0;
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}

.product-info .year-select-container {
    margin-top: 10px;
}

.product-info .year-select-container select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.product-info .display-related-details {
    margin-top: 20px;
}

.product-info .display-related-details p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}

.product-info .display-related-details .d1 {
    font-weight: bold;
}

.product-info .display-related-details .d2 {
    margin-left: 20px;
}

.quantity-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.quantity-container label {
    margin-right: 10px;
    font-size: 16px;
}

.qtycontrol {
    margin-right: 10px;
}

.qtycontrol input {
    width: 50px;
    padding: 5px;
    font-size: 16px;
}

.add-to-cart a {
    background-color: #f39c12;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
}

.add-to-cart a:hover {
    background-color: #e67e22;
}

.add-to-cart a:focus {
    outline: none;
}
