body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    letter-spacing: 1px; 
}

form h1 {
    grid-column: span 2; 
    text-align: center;
    margin-bottom: 10px;
}

/* Edit Profile Container */
.edit-profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 10px;
    box-sizing: border-box;
    overflow: auto;
    flex: 1;
    flex-direction: column;
}

.edit-profile-container h1 {
    font-size: 18px; 
    color: #ffffff;
    text-align: center; 
    margin: 5px 0;
}

/* Icon inside the h1 */
.edit-profile-container h1 i {
    color: #ffffff;
    margin-right: 5px; 
    font-size: 18px; 
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px; 
    background: transparent;
    backdrop-filter: blur(10px);
    border: 3px double rgba(255, 255, 255, .5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    width: 100%;
    width: 600px; 
    padding: 15px; 
    text-align: left;
    margin-bottom: 15px;
    border-radius: 8px; 
}
.form-group {
    display: flex;
    flex-direction: column;
}

.form-actions {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    gap: 15px;
}

label {
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 3px; 
    display: block;
}

input[type="text"], input[type="number"], input[type="date"], input[type="file"], textarea {
    width: 100%;
    padding: 8px;
    margin-top: 3px;
    border: 1px solid rgba(255, 255, 255, 0.5); 
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 14px; 
}

input[type="text"]:focus, input[type="number"]:focus, input[type="date"]:focus, input[type="file"]:focus, textarea:focus {
    border-color: #007BFF;
    outline: none;
}

/* Error Messages */
.error {
    color: #ff4d4d;
    font-size: 12px;
    margin-top: 3px;
}

/* Uploaded Photo Preview */
img {
    margin-top: 8px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: 2px solid #ccc; 
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

/* Form Buttons */
button {
    padding: 8px 15px; 
    border-radius: 10px; 
    font-size: 14px;
    background: #ffffff4b;
    border: 3px double rgba(255, 255, 255, .5); 
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    min-width: 80px; 
}

button:hover {
    opacity: 0.9;
    transform: scale(1.05); 
    background-color: #691212;
}

/* Specific Styling for Cancel Button */
button[type="button"] {
    background-color: #f44336;
}

button[type="button"]:hover {
    background-color: #c2361d;
}