*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  letter-spacing: 2px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.login-box{
  position: relative;
  width: 380px;
  height: 450px;
  background: transparent; 
  display: flex;
  border: 3px double rgba(255, 255, 255, .5);
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
  margin-top: -100px;
}

h2{
  font-size: 1.8em;
  color: white;
  text-align: center;
}

.input-box{
  position: relative;
  width: 310px;
  margin: 30px 0;
  border-bottom: 2px solid #fff;
  outline: none;
  font-size: 0.9em;
  color: #fff;
  padding: 0 35px 0 5px;
  transition: border-color 0.3s ease-in-out;
}

.input-box input:invalid {
  border-color: red; /* Highlight the input in red if invalid */
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 0.9em;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.error {
  color: red; 
  font-size: 0.8em;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  text-align: left;
}

.input-box input:focus~label,
.input-box input:valid~label{
  top: -5px;
}

.input-box input{
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 0.9em;
  color: #fff;
  padding: 0 35px 0 5px;
}

.input-box .icon{
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.1em;
  line-height: 57px;
}

.remember-forget{
  margin: -15px 0 15px;
  font-size: .8em;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.remember-forget label input {
  margin-right: 3px;
}

.remember-forget a{
  color: #fff;
  text-decoration: none;
}

.remember-forget a:hover{
  text-decoration: underline;
}

button{
  width: 100%;
  height: 40px;
  margin-top: 10px;
  background: #ffffff4b;
  border: 3px double rgba(255, 255, 255, .5);
  outline: none;
  cursor: pointer;
  font-size: 0.9em;
  color: rgb(255, 255, 255);
  font-weight: 500;
}

button:hover {
  background-color: #000000;
}

.register-link{
  font-size: .9em;
  color: #fff;
  text-align: center;
  margin: 25px 0 10px;
}

.register-link p a{
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover{
  text-decoration: underline;
}

.back-link{
  font-size: .7em;
  color: #fff;
  text-align: right;
  margin-top: 20px;
}

.back-link  a{
  color: #fff; /** change**/
  text-decoration: none;
  font-weight: 600;
}