body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    letter-spacing: 2px;
    background: #f4f4f4; /* Optional background color */
}

.container {
    width: 450px;
    margin: 0 auto;
    padding: 30px;
    border: 4px double rgba(255, 255, 255, .5);
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    position: relative;
    background: transparent;
    line-height: 40px;
    margin-top: 15px;
}

.form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
}

.input-box input {
    width: 100%; /* Make textboxes take full width of container */
    padding: 10px;
    padding-left: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.input-box .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #00000075;
}

.error {
    color: red;
    font-size: 12px;
}

/* Button Container - Center the buttons */
.button-container {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    gap: 10px;
}

button {
    align-items: right;
    padding: 5px;
    background: #ffffff4b;
    color: white;
    border: 4px double rgba(255, 255, 255, .5);
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #000000;
}

button[type="reset"] {
    background-color: #f44336;
    color: white;
}

button:hover {
    opacity: 0.9;
}

.back-link{
    font-size: .7em;
    color: #fff;
    text-align: right;
  }
  
  .back-link  a{
    color: #fff; /** change**/
    text-decoration: none;
    font-weight: 600;
  }