body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffffff;
}


/* Adds a blur effect to the background image */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(2px);
    z-index: -2;
}


/* Adds a dark overlay on top of the background image */
body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(50, 34, 34, 0.7);
    z-index: -1;
}

/* Main container for layout */
.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;
    max-width: 500px;
    padding: 20px 0;
}

/* Reward Container */
.reward-container {
    width: 600px;
    background-color: rgba(255, 255, 255, 0.207);
    border-radius: none;
    border: double;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.829);
    padding: 20px;
    text-align: center;
    color: #ffffff;
    margin-bottom: auto;
}

/* Points Section */
.total-points h1 {
    font-size: 3em;
    margin: 10px 0;
    padding-bottom: 25px;
    letter-spacing: 3px;
}

.points-details {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 5px;
}

.points-details div {
    flex: 1;
    text-align: center;
}

.points-details a {
    font-size: 1em;
    text-decoration: none;
    color: #ffffff;
}


/* Rewards Grid Section */
.reward-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    justify-content: center;
}


.reward-item img {
    background-color: #ffffff;
    filter: grayscale(50%);
    width: 180px;
    max-height: 200px;
    margin-top: 8px;
    border: 1px dotted black;
    object-fit: contain;
}


.reward-item {
    background-color: rgba(255, 255, 255, 0.207);
    width: 200px;
    height: 300px;
    text-align: center;
    padding: 15px;
    border-radius: 1px;
    box-shadow: 0 2px 5px rgba(166, 166, 166, 0.708);
}


.reward-item h3 {
    margin: 15px 0;
    letter-spacing: 1px;
    font-size: 0.8em;
    color: #ffffff;
}


.reward-item p {
    background-color: rgba(255, 255, 255, 0.207);
    color: #ffffff;
    padding: 4px 5px;
    margin: 10px 0;
    border: 1px solid;
    border-radius: 1px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    width: 50%;
    display: inline-block;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.reward-item p:hover {
    background-color: #2c2c2c7d;  /* Darker shade on hover */
}


/* Latest Transactions */
.latest-transactions {
    margin-top: 30px;
    letter-spacing: 2px;
}


.latest-transactions table {
    width: 800px;
    border-collapse: collapse;
    margin-top: 10px;
}


.latest-transactions th,
.latest-transactions td {
    text-align: center;
    padding: 10px;
}


.latest-transactions th {
    background-color: rgba(255, 255, 255, 0.207);
    font-size: 0.9em;
    text-transform: uppercase;
}


.latest-transactions td {
    border-bottom: 1px solid #ddd;
}


.latest-transactions .negative {
    color: #f00;
}
.latest-transactions .positive {
    color: rgb(111, 225, 76);
}
