body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f8f8f8;
    display: flex;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

  .reward-system {
    color: #f8f8f8;
    background: transparent;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.511);
    border: 2px double rgba(255, 255, 255, .5);
    backdrop-filter: blur(15px);
    width: 800px;
    height: auto;
    margin: 10px auto;
    text-align: center;
    line-height: 35px;
  }
 
  h2 {
    color: #f8f8f8;
    font-size: 30px;
    letter-spacing: 3px;
  }

  p {
    font-size: 16px;
  }
 
  .stamp-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    margin: 30px 0;
    border-radius: 10px;
    border: 2px dashed #ccc; /* Dashed border */
    padding: 25px;
    padding-left: 40px;
  }
 
  .stamp {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #ccc;
    border: 2px dashed rgba(0, 0, 0, 0.171); /* Dashed border */
    transition: background-color 0.3s ease, color 0.3s ease;
  }
 
  .stamp.earned {
    background-color: transparent; /* Remove the background color */
    background-image: url('../images/hipz.png'); /* Replace with the path to your logo image */
    background-size: cover; /* Ensure the logo covers the stamp area */
    background-position: center; /* Center the logo within the stamp */
    color: transparent; /* Hide the number or text inside the stamp */
    border: 2px dashed rgba(0, 0, 0, 0.692);
  }
 
  button {
    padding: 6px 25px;
    font-size: 15px;
    background-color: rgba(130, 0, 0, 0.895);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
  }
 
  button:hover {
    background-color: #904e4e;
  }

  .stamp.stamped {
    background-color: #e0e0e0;
    opacity: 0.9;
}

.stamp.stamped i {
    color: blue!important;
}

#status {
    margin-top: 15px;
    color: #ffffff;
}